h1{
    color: #ffe492;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    color: #ffe492;
    font-family: Arial, Helvetica, sans-serif;
}
.hsec2{
    color: #043873;
}
h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.section2a>.pt{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.mid{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.nav{
    color: white;
    padding: 30px;
}
.img{
    height: 450px;
    width: 80%;
    border: 1px solid black;
    justify-content: center;
    margin-left: 50px;
}
.img1,.img2{
    height: 400px;
    width: 400px;
}
.img1{
    padding-left: 100px;
    margin-top: 75px; 
}
.img2{
    margin-bottom: 175px;
    padding-right: 100px;
    margin-left: 50px;
}
.imga{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
    border: 3px solid black;
}
.img6,.img7{
    height: 400px;
    width: 400px;
    margin-bottom: 100px;
    margin-left: 50px;
}
.img6{
    margin-top: 100px;
    margin-left:100px;
}
.img7{
    height: 100px;
    width: 100px;
}
.images7{
    margin-left: 300px;
    margin-top: 200px;
}
.txt1{
    padding: 100px;
    text-align: center;
    padding-bottom: 50px;
}
.txt1a{
    padding: 100px;
    text-align: center;
    padding-top: 175px;
}
#txtsec2,#txtsec2a{
    padding: 40px;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
.txt6{
    margin-left: 50px;
    padding-left: 50px;
    text-align: center;
}
#btn{
    background-color: orange;
    height: 50px;
    width: 150px;
}
#btn1{
    height: 40px;
    margin-right: 40px;
    margin-top: 15px;
    width: 80px;
    background-color: #ffe492;
}










